SET NOCOUNT ON;
SET XACT_ABORT ON;
GO

-----------------------------------------------------------------------
-- DIMENSION VIEWS (unchanged)
-----------------------------------------------------------------------

CREATE OR ALTER VIEW [dbo].[vw_Currency]
AS
SELECT *
FROM [dbo].[Currency];
GO

CREATE OR ALTER VIEW [dbo].[vw_Customers]
AS
SELECT *
FROM [dbo].[Customers];
GO

CREATE OR ALTER VIEW [dbo].[vw_Dates]
AS
SELECT *
FROM [dbo].[Dates];
GO

CREATE OR ALTER VIEW [dbo].[vw_ExchangeRates]
AS
SELECT *
FROM [dbo].[ExchangeRates];
GO

CREATE OR ALTER VIEW [dbo].[vw_Geography]
AS
SELECT *
FROM [dbo].[Geography];
GO

CREATE OR ALTER VIEW [dbo].[vw_ProductCategory]
AS
SELECT *
FROM [dbo].[ProductCategory];
GO

CREATE OR ALTER VIEW [dbo].[vw_Products]
AS
SELECT *
FROM [dbo].[Products];
GO

CREATE OR ALTER VIEW [dbo].[vw_ProductSubcategory]
AS
SELECT *
FROM [dbo].[ProductSubcategory];
GO

CREATE OR ALTER VIEW [dbo].[vw_Promotions]
AS
SELECT *
FROM [dbo].[Promotions];
GO

CREATE OR ALTER VIEW [dbo].[vw_Stores]
AS
SELECT *
FROM [dbo].[Stores];
GO

-----------------------------------------------------------------------
-- FACT VIEWS (conditional)
--   - sales_output: sales       -> vw_Sales from Sales
--   - sales_output: sales_order -> vw_SalesOrderHeader/Detail + vw_Sales join
--   - sales_output: both        -> vw_Sales from Sales + vw_SalesOrderHeader/Detail
-----------------------------------------------------------------------

DECLARE @SalesSchema sysname = NULL;
DECLARE @HdrSchema   sysname = NULL;
DECLARE @DtlSchema   sysname = NULL;

SELECT TOP (1) @SalesSchema = s.name
FROM sys.tables t
JOIN sys.schemas s ON s.schema_id = t.schema_id
WHERE t.name = N'Sales';

SELECT TOP (1) @HdrSchema = s.name
FROM sys.tables t
JOIN sys.schemas s ON s.schema_id = t.schema_id
WHERE t.name = N'SalesOrderHeader';

SELECT TOP (1) @DtlSchema = s.name
FROM sys.tables t
JOIN sys.schemas s ON s.schema_id = t.schema_id
WHERE t.name = N'SalesOrderDetail';

-----------------------------------------------------------------------
-- vw_SalesOrderHeader (if present)
-----------------------------------------------------------------------
IF @HdrSchema IS NOT NULL
BEGIN
    DECLARE @HdrFrom nvarchar(300) =
        QUOTENAME(@HdrSchema) + N'.' + QUOTENAME(N'SalesOrderHeader');

    DECLARE @sql_hdr nvarchar(max) = N'
CREATE OR ALTER VIEW [dbo].[vw_SalesOrderHeader]
AS
SELECT
    SalesOrderNumber,
    CustomerKey,
    StoreKey,
    PromotionKey,
    CurrencyKey,
    OrderDate,
    DueDate
FROM ' + @HdrFrom + N';';

    EXEC sys.sp_executesql @sql_hdr;
END;

-----------------------------------------------------------------------
-- vw_SalesOrderDetail (if present)
-----------------------------------------------------------------------
IF @DtlSchema IS NOT NULL
BEGIN
    DECLARE @DtlFrom nvarchar(300) =
        QUOTENAME(@DtlSchema) + N'.' + QUOTENAME(N'SalesOrderDetail');

    DECLARE @sql_dtl nvarchar(max) = N'
CREATE OR ALTER VIEW [dbo].[vw_SalesOrderDetail]
AS
SELECT
    SalesOrderNumber,
    SalesOrderLineNumber,
    ProductKey,
    DeliveryDate,
    Quantity,
    CAST(NetPrice       AS MONEY) AS NetPrice,
    CAST(UnitCost       AS MONEY) AS UnitCost,
    CAST(UnitPrice      AS MONEY) AS UnitPrice,
    CAST(DiscountAmount AS MONEY) AS DiscountAmount,
    DeliveryStatus,
    IsOrderDelayed
FROM ' + @DtlFrom + N';';

    EXEC sys.sp_executesql @sql_dtl;
END;

-----------------------------------------------------------------------
-- vw_Sales (Sales table if present; otherwise join Header+Detail)
-----------------------------------------------------------------------
IF @SalesSchema IS NOT NULL
BEGIN
    DECLARE @SalesTwoPart nvarchar(300) = @SalesSchema + N'.Sales';
    DECLARE @SalesFrom    nvarchar(300) = QUOTENAME(@SalesSchema) + N'.' + QUOTENAME(N'Sales');

    DECLARE @selectPrefix nvarchar(max) = N'';

    -- Keep the existing behavior: only include order cols if they exist in Sales
    IF COL_LENGTH(@SalesTwoPart, 'SalesOrderNumber') IS NOT NULL
       AND COL_LENGTH(@SalesTwoPart, 'SalesOrderLineNumber') IS NOT NULL
    BEGIN
        SET @selectPrefix = N'
        SalesOrderNumber,
        SalesOrderLineNumber,';
    END

    DECLARE @sql_sales nvarchar(max) = N'
CREATE OR ALTER VIEW [dbo].[vw_Sales]
AS
SELECT'
+ @selectPrefix + N'
        CustomerKey,
        ProductKey,
        StoreKey,
        PromotionKey,
        CurrencyKey,
        OrderDate,
        DueDate,
        DeliveryDate,
        Quantity,
        CAST(NetPrice         AS MONEY) AS NetPrice,
        CAST(UnitCost         AS MONEY) AS UnitCost,
        CAST(UnitPrice        AS MONEY) AS UnitPrice,
        CAST(DiscountAmount   AS MONEY) AS DiscountAmount,
        DeliveryStatus,
        IsOrderDelayed
FROM ' + @SalesFrom + N';';

    EXEC sys.sp_executesql @sql_sales;
END
ELSE IF @HdrSchema IS NOT NULL AND @DtlSchema IS NOT NULL
BEGIN
    DECLARE @HdrFrom2 nvarchar(300) =
        QUOTENAME(@HdrSchema) + N'.' + QUOTENAME(N'SalesOrderHeader');

    DECLARE @DtlFrom2 nvarchar(300) =
        QUOTENAME(@DtlSchema) + N'.' + QUOTENAME(N'SalesOrderDetail');

    DECLARE @sql_sales_join nvarchar(max) = N'
CREATE OR ALTER VIEW [dbo].[vw_Sales]
AS
SELECT
    d.SalesOrderNumber,
    d.SalesOrderLineNumber,
    h.CustomerKey,
    d.ProductKey,
    h.StoreKey,
    h.PromotionKey,
    h.CurrencyKey,
    h.OrderDate,
    h.DueDate,
    d.DeliveryDate,
    d.Quantity,
    CAST(d.NetPrice         AS MONEY) AS NetPrice,
    CAST(d.UnitCost         AS MONEY) AS UnitCost,
    CAST(d.UnitPrice        AS MONEY) AS UnitPrice,
    CAST(d.DiscountAmount   AS MONEY) AS DiscountAmount,
    d.DeliveryStatus,
    d.IsOrderDelayed
FROM ' + @DtlFrom2 + N' AS d
JOIN ' + @HdrFrom2 + N' AS h
  ON h.SalesOrderNumber = d.SalesOrderNumber;';

    EXEC sys.sp_executesql @sql_sales_join;
END
ELSE
BEGIN
    THROW 50020, 'No fact tables found for vw_Sales. Expected Sales OR (SalesOrderHeader + SalesOrderDetail).', 1;
END;
GO
